.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: url("/public/Error404-Background.svg") no-repeat center center fixed;
    background-size: cover;
    color: #343a40;
    text-align: center;
}

.header {
    color: #fff;
    font-size: 3rem;
    margin-bottom: 1rem;
}

.paragraph {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
    font-weight: bold;
    text-decoration: underline;
}

.paragraph2 {
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}



.link {
    font-size: 1.25rem;
    color: #fff;
    background-color: #1B2455;
    text-decoration: none;
    border: 2px solid #fff;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.3s;
}

.link:hover {
    background-color: #007bff;
    color: #fff;
}

.sadFace {
    width: 100px;
    height: 100px;
}

.messageContainer {
    background-color: #E4E9F2;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 1.5rem;
}